<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='utils/components.css') }}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='header/header.css') }}"
/>
{% endblock %}

<header>
  <nav class="fixed-top navbar">
    <span class="brand"> Notícia App </span>
    <div class="navbar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="btn btn-dark nav-link" href="/">Opções</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark nav-link" href="/noticias">Notícias</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-dark nav-link" href="/assuntos">Assuntos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
